.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
}
.courses a {
  text-decoration: none;
  color: white;
}
.about img {
  margin-left: -150px;
  margin-top: -160px;
  
}
.about:hover {
  transition: all 0.5s;
  transform: scale(1.15);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 30px;
  padding: 0 10px;
}
.nav a {
  text-decoration: none;
  margin: 0 10px;
  color: #c3c7ce;
  transition: all 0.5s;
}
.nav a:hover {
  transform: scale(1.12);
  transition: all 0.5s;
}

.home {
  
}
.back-button {
  margin-top: 50px;
  width: 60px;
  height: 60px;
  border-radius: 25px;
}